body {
  text-align: center;
  background-color: yellow;
}
.grid {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 400px;
}

button {
  cursor: pointer;
  margin: 25px;
  padding: 20px;
  border: none;
  border-radius: 15px;
  color: white;
  background-color: rgb(30, 190, 30);
}
button:hover {
  background-color: green;
}
